md-sidenav-container {
  margin: 0;
  width: 100%;
  height: calc(100% - 64px);
}

.title {
  padding-left: 10px;
}

.content {
  height: 100%;
}

.side-nav {
  width: 280px;
}

.navigation-link > md-icon, span {
  vertical-align: middle;
  margin: 0 5px;
}
