<app-toolbar (onMenu)="sidenav.toggle()"></app-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav class="side-nav" mode="side" opened="true">

    <md-nav-list>
      <md-list-item>
        <a md-line routerLink="/configuration" class="navigation-link">
          <md-icon>settings</md-icon>
          <span>Configuration</span>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/connections" class="navigation-link">
          <md-icon>network_check</md-icon>
          <span>Connections</span>
        </a>
      </md-list-item>
      <md-list-item>
        <a md-line routerLink="/setup" class="navigation-link">
          <md-icon>tune</md-icon>
          <span>Setup</span>
        </a>
      </md-list-item>
    </md-nav-list>

  </md-sidenav>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
